:root {
  --main-font: Poppins;
}

body {
  font-family: var(--main-font), serif;
  font-size: 20px;
  line-height: 1.5;
  color: #8f95a5;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding-top: 90px;
  padding-bottom: 90px;
}

.container {
  width: 1378px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin-bottom: 60px;

  font-weight: 600;
  font-size: 48px;
  color: #000000;
}

.subtitle {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 30px;
  color: #263238;
}

.btn {
  max-width: 312px;
  min-width: 218px;
  min-height: 60px;
  padding: 15px;

  letter-spacing: 0.03em;
  color: #000000;
  cursor: pointer;
}
